:root[data-theme="light"] {
  --text: #15180c;
  --background: #fdfefb;
  --primary: #98b946;
  --secondary: #c5db8f;
  --accent: #b6d468;
}

:root[data-theme="dark"] {
  --text: #f0f3e7;
  --background: #030401;
  --primary: #98b946;
  --secondary: #5a7024;
  --accent: #78972b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.2s, color 0.2s;
}

#root {
  min-height: 100vh;
}